body{
	background-color: #dadada;
}

.menu{
	background-color: white;
	border: solid;
	border-radius: 10px;
	margin-left: 5%;
	margin-right: 2%;
	margin-bottom: 2%;
}

.menu img{
	margin-top: 1%;
}

h1{
	text-align: center;
}

.texteprincipal{
    background-color: white;
    border: solid;
    border-radius: 10px;
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 1%;
	margin-left: 5%;
	margin-bottom: 2%;
	float: left;
	width: 60%;
}

.citation{
	float:right;
	width: 50%;
	padding-top: 10%;
	font-style: italic;
}

.quote a{
	text-align: center;
	font-size: 50px;
	text-decoration: none;
	color:  #2ba1f9;
}

.auteur a{
	color: black;
	text-align: right;
	text-decoration: none;
}

.autres{
	background-color: white;
	margin-right: 2%;
	float: right;
	width: 25%;
	border: solid;
	border-radius: 10px;
}

.autres h3{
	text-align: center;
}

.dons{
	background-color: white;
	margin-right: 2%;
	margin-top: 1%;
	float: right;
	width: 25%;
	border: solid;
	border-radius: 10px;
}

.dons h3{
	text-align: center;
}

.dons h4{
	margin-left: 2%;
}

.dons p{
	margin-left: 5%;
}
.video{
	float: right;
	margin-top: 1%;
	margin-right: 2%;
}

li{
	padding-bottom: 15px;
}